/* 나눔명조 폰트 추가*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");

body {
  background: linear-gradient(to right, #f5f5f5, #e0e0e0); /* 그라데이션 배경 */
  font-family: "Nanum Myeongjo", serif; /* 나눔명조 폰트 적용 */
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%; /* 화면 전체를 차지하도록 설정 */
  color: #333; /* 글자 색상 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #444;
  color: white;
  box-sizing: border-box;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px; /* 아이콘 간격 조절 */
}

.header-right .fa-icon {
  cursor: pointer;
  font-size: 1.2em; /* 아이콘 크기 조정 */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px; /* 검색창과 아이콘 사이 간격 조정 */
}

.search-bar input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px; /* 검색 아이콘과 입력란 간격 */
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12등분 그리드 */
  /*grid-template-rows: repeat(24, 1fr); /* 행 기준 3등분 */
  gap: 8px;
  padding: 10px;
  margin: 0; /*여백 없애기*/
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 60px); /* 헤더를 제외한 화면 높이 */
  overflow-y: auto;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  padding-top: 30px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}
.card:hover {
  transform: translateY(-5px); /* 카드 호버 시 올라가는 애니메이션 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 확장 */
}

.card.risk-level {
  margin-top: -100px; /* 원하는 만큼 위로 이동 (값을 조정 가능) */
}

.card.risk-level1 {
  margin-top: -100px; /* 원하는 만큼 위로 이동 (값을 조정 가능) */
}

.card.risk-level2 {
  margin-top: 0px; /* 원하는 만큼 위로 이동 (값을 조정 가능) */
}

.card.risk-level3 {
  margin-top: -185px; /* 원하는 만큼 위로 이동 (값을 조정 가능) */
}

.card.risk-level4 {
  margin-top: -7px; /* 원하는 만큼 위로 이동 (값을 조정 가능) */
}

/* 크기별 카드 스타일 */
.card.danger {
  grid-column: span 2; /* 세로로 긴 카드 */
  grid-row: span 1;
  height: 50%;
  background: rgb(245, 245, 245);
}

.card.group {
  grid-column: span 8; /* 가로로 긴 카드 */
  height: 250px;
}
.card.group canvas {
  width: 100%; /* 부모 요소의 너비에 맞게 */
  height: auto; /* 비율 유지하며 높이 자동 조정 */
  max-height: 200px; /* 최대 높이 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.card.mosaik {
  grid-column: span 2; /* 가로로 긴 카드 */
  height: 250px;
}

.mosaic-button {
  margin-top: -20px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1em;
}

.mosaic-button:hover {
  background-color: #4682b4;
}

.card.drank {
  grid-column: span 2;
  height: 200px;
}

.card.drank h2 {
  font-weight: 700; /*글자를 볼드체로 설정*/
  font-size: 25px; /* 제목을 위로 이동 */
}
.card.drank canvas {
  width: 100%; /* 부모 요소의 너비에 맞게 */
  height: auto; /* 비율 유지하며 높이 자동 조정 */
  max-height: 180px; /* 최대 높이 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.card.day {
  grid-column: span 4;
  height: 200px;
}

.card.day canvas {
  width: 100%; /* 부모 요소의 너비에 맞게 */
  height: auto; /* 비율 유지하며 높이 자동 조정 */
  max-height: 180px; /* 최대 높이 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.card.week {
  grid-column: span 4;
  height: 200px;
}
.card.week canvas {
  width: 100%; /* 부모 요소의 너비에 맞게 */
  height: auto; /* 비율 유지하며 높이 자동 조정 */
  max-height: 180px; /* 최대 높이 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.card.user {
  grid-column: span 2;
  height: 195px;
}

.card.user h2 {
  font-weight: 700; /*글자를 볼드체로 설정*/
  margin-top: -10px; /* 제목을 위로 이동 */
}

.card.total {
  grid-column: span 2;
  height: 100px;
  background: rgb(245, 245, 245);
}

.card.ai h2 {
  font-weight: 700; /*글자를 볼드체로 설정*/
  margin-top: -8px; /* 제목을 위로 이동 */
}

.card.ai {
  grid-column: span 8;
  height: 185px;
  padding-top: 10px;
  padding-top: 30px;
  justify-content: space-between;
  flex-direction: column;
}

.chart-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  min-height: 150px;
}

.chart-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.pdf-icons img {
  margin: 0 30px;
  cursor: pointer;
  width: 100px;
  height: auto;
}

.pdf-icons {
  display: flex;
  justify-content: center; /* 아이콘을 가운데 정렬 */
  gap: 20px; /* 아이콘 간격 조정 */
}

.pdf-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 텍스트와 아이콘 가운데 정렬 */
}

.pdf-icon-container p {
  margin: 0;
  font-size: 14px; /* 텍스트 크기 조정 */
  text-align: center;
}

.card.part {
  grid-column: span 2;
  height: 195px;
}

.card.part h2 {
  font-weight: 700; /*글자를 볼드체로 설정*/
  margin-top: -10px; /* 제목을 위로 이동 */
}

.card.server {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-column: span 2;
  height: 130px;
}

.card.server h2 {
  font-size: 20px; /*글자를 볼드체로 설정*/
  margin-top: -10px;
}

.server-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.server-status-icon {
  width: 40px; /* 원 그래프 크기 */
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.rank-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 10px;
}

.rank-table th,
.rank-table td {
  padding: 5px;
  font-size: 0.9em; /* Reduce font size */
  text-align: center;
  border: 1px solid #ddd;
}

.rank-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.rank-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.rank-table tbody td {
  white-space: nowrap; /* 셀의 내용이 줄바꿈되지 않도록 설정 */
  font-size: 0.7em; /* 셀의 글씨 크기도 더 작게 조정 */
}

.card .rank-table-container {
  margin-top: 5px; /* 카드 내에서 표를 위로 올리기 */
}

.card h2 {
  margin-bottom: 8px; /* 제목과 표 사이 여백을 줄임 */
}
